
@{
    ViewData["Title"] = "LogIn";
    Layout = "_LayoutSM";
}

<h1>Stadium Manager</h1>



<div class="d-grid gap-2">
    <a asp-action ="ViewMyStadiumInfo"  class="btn btn-outline-primary">VIEW MY STADIUM INFO</a>
    <a asp-action="ViewRequestsReceived"  class="btn btn-outline-primary">
        VIEW MY REQUESTS</a>
    <a asp-action="ViewPendingRequest"  class="btn btn-outline-primary">VIEW ALL UNHANDLED REQUESTS</a>
   
</div>
