
@{
    ViewData["Title"] = "LogIn";
    Layout = "_LayoutF";

}

<h1>Fan</h1>



<div class="d-grid gap-2">
    <a asp-action="ViewMatchesAvailable"  class="btn btn-outline-primary">VIEW ALL MATCHES THAT HAVE AVAILABLE TICKETS</a>

</div>

