@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<div>
    <marquee direction="left">
        <h1 class="display-3">
            <img src="https://gifdb.com/images/high/hahaha-got-em-point-3stxqfbgb5pyxo05.webp" alt="haha" height="300" width="300">
            THERE IS NO PRIVACY :(
        </h1>
    </marquee>


    <div class="hoppa">
   </div>
</div>
